@import "css3-mixins.scss";


body{


	h2{
		color:red;
		text-align: left;

	}

	h3{
		color:red;
		padding-left: 10px;
		padding-top: 100px;
		padding-bottom: 20px;

	}

	p{
		font-weight: bold;
		font-size: 60px;
		font-style: italic;
		color: red;



	}
}


